# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# Datasets
!/poseDatasets/
/poseDatasets/*
!/poseDatasets/random10000fullbalance0.001000tolunsafe.txt
!/poseDatasets/filteredPosesrandom6003fullbalance0.001000tolsafe2.000000*10e-3filter.txt
!/poseDatasets/filteredPosesRandom.txt


# Misc.
!/misc/
/misc/*
!/misc/krang_internet/
/misc/krang_internet/*
!/misc/krang_internet/things_i_did_on_krang.txt
